.signup-control {
    font-size: 0.8rem
}
.signup-title{
    margin-bottom: 0;
}
.signup-label-form{
    font-size: 1rem;
    margin-bottom: 0.25rem;
}
@media (min-width: 576px){
    .signup-control {
        font-size: 1rem
    }
    .signup-title{
        margin-bottom: 0;
    }
    .signup-label-form{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .last-form-control{
        margin-bottom: 2rem!important;
    }
}